@model TemplateGentelella.Models.Paciente

@{
    ViewBag.Title = "Details";
}
<div class="x_panel">
    <div class="x_title">
        <h2>Detalhes do paciente</h2>
        <div class="clearfix"></div>
    </div>
    @*<div class="x_content">
        @Html.ActionLink("Editar", "Edit", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
    </div>*@
</div>

<div class="x_panel">
    <div class="x_content">
        <div class="row">       
            <dl class="dl-horizontal">
                <div class="row h4">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                </div>
                
                <hr />
                <dt>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataNascimento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Endereco)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Endereco)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
        </div>
        <hr />
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = 1 }) |
                @Html.ActionLink("Back to List", "Index")*@
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Editar", "Edit", null, new { @class = "btn btn-primary" })

        </p>
    </div>
</div>